Repository thangved/ctu-extension-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --w

Deploying to gh-pages from @ thangved/ctu-extension-landing@5cbd1629338b20e524dea482ae0c5a7fac1f1824 🚀
  assets/DailyMotion-B1SLynf6.js
  assets/DailyMotion-D4FHQdF-.js
  assets/Facebook-DyM0MhRZ.js
  assets/Facebook-TI-qaryQ.js
  assets/FilePlayer-Cskd5F1O.js
  assets/FilePlayer-DvAi1b_Q.js
  assets/Kaltura-Becg6QkS.js
  assets/Kaltura-ByEtIh2i.js
  assets/Mixcloud-Swx94rV4.js
  assets/Mixcloud-d8tYHYds.js
  assets/Mux-DVDp_1JA.js
  assets/Mux-DcaCw4Lj.js
  assets/Preview-BUC2Zxhi.js
  assets/Preview-CpYMcIp9.js
  assets/SoundCloud-BtADFd6k.js
  assets/SoundCloud-CiHBEqXA.js
  assets/Streamable-B5nF7b-y.js
  assets/Streamable-CfFDVbUU.js
  assets/Twitch-BEff48Uf.js
  assets/Twitch-M9R7tKOR.js
  assets/Vidyard-Ci7_Howo.js
  assets/Vidyard-Dlc1xjEO.js
  assets/Vimeo-BI_yinLV.js
  assets/Vimeo-BRMq4CMI.js
  assets/Wistia-BbN5FaZh.js
  assets/Wistia-O8uXTDtr.js
  assets/YouTube-BLB3rQd9.js
  assets/YouTube-D4ng-5dG.js
  assets/index-BF3ArfWV.css
  assets/index-CIpryq83.js
  assets/index-TPwp2qeN.css
  docs.html
  index.html
  manifest.json
  privacy.html
Due: eslint --fix, prettier --write, prettier --w

Deploying to gh-pages from @ thangved/ctu-extension-landing@ea816c870f8a636d7538101863d9bb8850c5981f 🚀
  assets/DailyMotion-B1SLynf6.js
  assets/DailyMotion-sq2rBNnu.js
  assets/Facebook-BAYB1n7N.js
  assets/Facebook-DyM0MhRZ.js
  assets/FilePlayer-3TRcW2NZ.js
  assets/FilePlayer-DvAi1b_Q.js
  assets/Kaltura-BWyqDLEV.js
  assets/Kaltura-ByEtIh2i.js
  assets/Mixcloud-CxsocP34.js
  assets/Mixcloud-d8tYHYds.js
  assets/Mux-DVDp_1JA.js
  assets/Mux-tvy7w1_F.js
  assets/Preview-CpYMcIp9.js
  assets/Preview-RNc_U_XJ.js
  assets/SoundCloud--uFuYYiJ.js
  assets/SoundCloud-CiHBEqXA.js
  assets/Streamable-B5nF7b-y.js
  assets/Streamable-CZQzOfQ5.js
  assets/Twitch-BEff48Uf.js
  assets/Twitch-Yfr5I3bd.js
  assets/Vidyard-C8DJthRu.js
  assets/Vidyard-Ci7_Howo.js
  assets/Vimeo-BI_yinLV.js
  assets/Vimeo-CjCa91bQ.js
  assets/Wistia-CN1MPwbe.js
  assets/Wistia-O8uXTDtr.js
  assets/YouTube-BRTh50ww.js
  assets/YouTube-D4ng-5dG.js
  assets/index-CXU4EtPV.js
  assets/index-CsRjahsj.css
  assets/index-TPwp2qeN.css
  docs.html
  index.html
  privacy.html
Due: eslint --fix, prettier --write, prettier --w

style: order css properties
  .prettierrc
  package.json
  src/assets/scss/core/abstracts/_mixins.scss
  src/assets/scss/core/base/_base.scss
  src/assets/scss/core/base/_helpers.scss
  src/assets/scss/core/base/_typography.scss
  src/assets/scss/core/elements/_buttons.scss
  src/assets/scss/core/elements/_containers.scss
  src/assets/scss/core/elements/_forms.scss
  src/assets/scss/core/elements/_hamburger.scss
  src/assets/scss/core/elements/_modal.scss
  src/assets/scss/core/layout/_footer.scss
  src/assets/scss/core/layout/_header.scss
  src/assets/scss/core/layout/_main.scss
  src/assets/scss/core/patterns/_split.scss
  src/assets/scss/core/patterns/_tiles.scss
  src/assets/scss/core/sections/_cta.scss
  src/assets/scss/core/sections/_features-split.scss
  src/assets/scss/core/sections/_features-tiles.scss
  src/assets/scss/core/sections/_hero.scss
  src/assets/scss/core/sections/_section.scss
  src/assets/scss/core/sections/_testimonial.scss
  src/assets/scss/theme/_theme.scss
  src/assets/scss/theme/sections/_cta.scss
  src/assets/scss/theme/sections/_features-tiles.scss
  src/assets/scss/theme/sections/_testimonial.scss
  src/views/Docs.module.css
Due: prettier --w

Deploying to gh-pages from @ thangved/ctu-extension-landing@f82581f48fbb984d7ef3a60df5cca8461145881f 🚀
  assets/DailyMotion-CWyeq4qE.js
  assets/DailyMotion-sq2rBNnu.js
  assets/Facebook-2EtiRZN7.js
  assets/Facebook-BAYB1n7N.js
  assets/FilePlayer-3TRcW2NZ.js
  assets/FilePlayer-DJNbFJc-.js
  assets/Kaltura-BWyqDLEV.js
  assets/Kaltura-_jLYHpdZ.js
  assets/Mixcloud-C7NnDaDN.js
  assets/Mixcloud-CxsocP34.js
  assets/Mux-tvy7w1_F.js
  assets/Mux-y9UHXehU.js
  assets/Preview-BsMpkRTx.js
  assets/Preview-RNc_U_XJ.js
  assets/SoundCloud--uFuYYiJ.js
  assets/SoundCloud-C9IpkPIv.js
  assets/Streamable-CEpQwWVC.js
  assets/Streamable-CZQzOfQ5.js
  assets/Twitch-CmxB-5UZ.js
  assets/Twitch-Yfr5I3bd.js
  assets/Vidyard-BxhWWfqB.js
  assets/Vidyard-C8DJthRu.js
  assets/Vimeo-CRYPrcCn.js
  assets/Vimeo-CjCa91bQ.js
  assets/Wistia-CN1MPwbe.js
  assets/Wistia-ovr33rHX.js
  assets/YouTube-BRTh50ww.js
  assets/YouTube-CHz0t7Wr.js
  assets/index-3pDr3pZ9.css
  assets/index-BOzBBVLN.js
  assets/index-CsRjahsj.css
  docs.html
  index.html
  privacy.html
Due: eslint --fix, prettier --write, prettier --w

ci: update eslint config
  eslint.config.js
  package.json
  scripts/postbuild.js
  src/App.jsx
  src/components/elements/Button.jsx
  src/components/elements/ButtonGroup.jsx
  src/components/elements/Checkbox.jsx
  src/components/elements/FormHint.jsx
  src/components/elements/FormLabel.jsx
  src/components/elements/Image.jsx
  src/components/elements/Input.jsx
  src/components/elements/Modal.jsx
  src/components/elements/Radio.jsx
  src/components/elements/Select.jsx
  src/components/elements/SmoothScroll.jsx
  src/components/elements/Switch.jsx
  src/components/layout/Footer.jsx
  src/components/layout/Header.jsx
  src/components/layout/partials/Banner.jsx
  src/components/layout/partials/FooterNav.jsx
  src/components/layout/partials/FooterSocial.jsx
  src/components/layout/partials/Logo.jsx
  src/components/sections/GenericSection.jsx
  src/components/sections/Hero.jsx
  src/components/sections/Testimonial.jsx
  src/components/sections/partials/SectionHeader.jsx
  src/index.jsx
  src/serviceWorker.js
  src/utils/AppRoute.jsx
  src/utils/ScrollReveal.jsx
Due: eslint --fix, prettier --write, prettier --w

Deploying to gh-pages from @ thangved/ctu-extension-landing@cab1d66167eb9bb7df2e04ee7e8fd98147950994 🚀
  assets/DailyMotion-CWyeq4qE.js
  assets/DailyMotion-Y67ukc7G.js
  assets/Facebook-2EtiRZN7.js
  assets/Facebook-QyS6Vu0I.js
  assets/FilePlayer-D2qqcH-8.js
  assets/FilePlayer-DJNbFJc-.js
  assets/Kaltura-CA1TrNLz.js
  assets/Kaltura-_jLYHpdZ.js
  assets/Mixcloud-C7NnDaDN.js
  assets/Mixcloud-CaZLb02l.js
  assets/Mux-DMRBSsdT.js
  assets/Mux-y9UHXehU.js
  assets/Preview-B1IxZhLp.js
  assets/Preview-BsMpkRTx.js
  assets/SoundCloud-C9IpkPIv.js
  assets/SoundCloud-GHz52BSD.js
  assets/Streamable-AH8Fe85l.js
  assets/Streamable-CEpQwWVC.js
  assets/Twitch-Bm3T5Qv-.js
  assets/Twitch-CmxB-5UZ.js
  assets/Vidyard-BxhWWfqB.js
  assets/Vidyard-DENxRwA3.js
  assets/Vimeo-CRYPrcCn.js
  assets/Vimeo-Cd1Pjzrz.js
  assets/Wistia-D2hMZZ_V.js
  assets/Wistia-ovr33rHX.js
  assets/YouTube-CHz0t7Wr.js
  assets/YouTube-DwkmB6hL.js
  assets/index-BOzBBVLN.js
  assets/index-BP1DpjYX.js
  docs.html
  index.html
  privacy.html
Due: eslint --fix, prettier --write

feat(supported-browsers): update link ms edge
  package.json
  src/components/sections/partials/HeroButtons.jsx
  src/icons/MsEdge.jsx
Due: eslint --fix, prettier --write, prettier --w

Deploying to gh-pages from @ thangved/ctu-extension-landing@a36d804326a31c33d99b349c353e2afa72f453f2 🚀
  assets/DailyMotion-BmLCreom.js
  assets/DailyMotion-Y67ukc7G.js
  assets/Facebook-QyS6Vu0I.js
  assets/Facebook-UPJHOWIn.js
  assets/FilePlayer-D2qqcH-8.js
  assets/FilePlayer-DXKculG1.js
  assets/Kaltura-CA1TrNLz.js
  assets/Kaltura-D40UVxve.js
  assets/Mixcloud-CaZLb02l.js
  assets/Mixcloud-DrMBhduN.js
  assets/Mux-DMRBSsdT.js
  assets/Mux-uh1MwkHA.js
  assets/Preview-B1IxZhLp.js
  assets/Preview-CJGAGh2h.js
  assets/SoundCloud-GHz52BSD.js
  assets/SoundCloud-W9sfXUkD.js
  assets/Streamable-AH8Fe85l.js
  assets/Streamable-DthDhgrA.js
  assets/Twitch-Bm3T5Qv-.js
  assets/Twitch-DGVZMLzn.js
  assets/Vidyard-CrBjoUOq.js
  assets/Vidyard-DENxRwA3.js
  assets/Vimeo-Cd1Pjzrz.js
  assets/Vimeo-CnMzeXrj.js
  assets/Wistia-D2S_Dn2g.js
  assets/Wistia-D2hMZZ_V.js
  assets/YouTube-ByV6eOUR.js
  assets/YouTube-DwkmB6hL.js
  assets/index-BP1DpjYX.js
  assets/index-C-V3VDqK.js
  docs.html
  index.html
  privacy.html
Due: eslint --fix, prettier --write

feat(hooks): add `useInstallExtension` hook
  src/components/sections/partials/HeroButtons.jsx
  src/hooks/useInstallExtension.js
Due: eslint --fix, prettier --write

feat(header): hide install on not supported browser
  src/components/layout/partials/HeaderNavbar.jsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ thangved/ctu-extension-landing@7081b41ea0116daf2dae2efeb74645870af855ea 🚀
  assets/DailyMotion-B0KEqGoA.js
  assets/DailyMotion-BmLCreom.js
  assets/Facebook-DtrrRarH.js
  assets/Facebook-UPJHOWIn.js
  assets/FilePlayer-CB_M8Sce.js
  assets/FilePlayer-DXKculG1.js
  assets/Kaltura-D40UVxve.js
  assets/Kaltura-DsqAlqUp.js
  assets/Mixcloud-DeyTgLn_.js
  assets/Mixcloud-DrMBhduN.js
  assets/Mux-T5j9HjzF.js
  assets/Mux-uh1MwkHA.js
  assets/Preview-CJGAGh2h.js
  assets/Preview-DPEFaYpq.js
  assets/SoundCloud-CRMu_gyN.js
  assets/SoundCloud-W9sfXUkD.js
  assets/Streamable-Buor1Ktq.js
  assets/Streamable-DthDhgrA.js
  assets/Twitch-DGVZMLzn.js
  assets/Twitch-DLgZKoOi.js
  assets/Vidyard-CrBjoUOq.js
  assets/Vidyard-Gf-61wmn.js
  assets/Vimeo-BCxxDYma.js
  assets/Vimeo-CnMzeXrj.js
  assets/Wistia-D2S_Dn2g.js
  assets/Wistia-Dy1owLRe.js
  assets/YouTube-ByV6eOUR.js
  assets/YouTube-CsvNwx4r.js
  assets/index-C-V3VDqK.js
  assets/index-Dq7HdBGH.js
  docs.html
  index.html
  privacy.html
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ thangved/ctu-extension-landing@34bde96d15bda44fd3fac72b1d03d157e7f49806 🚀
  assets/DailyMotion-B0KEqGoA.js
  assets/DailyMotion-BMFuo0C-.js
  assets/Facebook-DtrrRarH.js
  assets/Facebook-niJ1HfgS.js
  assets/FilePlayer-CB_M8Sce.js
  assets/FilePlayer-ZZ2tX0ih.js
  assets/Kaltura-C42XDBUL.js
  assets/Kaltura-DsqAlqUp.js
  assets/Mixcloud-DeyTgLn_.js
  assets/Mixcloud-p6yXG4L_.js
  assets/Mux-ChJL8-oF.js
  assets/Mux-T5j9HjzF.js
  assets/Preview-DPEFaYpq.js
  assets/Preview-uxzqBUxl.js
  assets/SoundCloud-ByzJp9f9.js
  assets/SoundCloud-CRMu_gyN.js
  assets/Streamable-Buor1Ktq.js
  assets/Streamable-DlCQYjZ1.js
  assets/Twitch-DLgZKoOi.js
  assets/Twitch-DdjejP3Q.js
  assets/Vidyard-BuS4b8kz.js
  assets/Vidyard-Gf-61wmn.js
  assets/Vimeo-BCxxDYma.js
  assets/Vimeo-DJXIpggp.js
  assets/Wistia-CKVgOLiD.js
  assets/Wistia-Dy1owLRe.js
  assets/YouTube-CsvNwx4r.js
  assets/YouTube-DiYKGiDd.js
  assets/index-CkjZpR6V.js
  docs.html
  index.html
  logo.svg
  maskable-icon-512x512.png
  privacy.html
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --w: any of: *.{json,md,yml,css,scss}
